[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=jgmenu
GenericName=Application Menu
Comment=Displays menu for launching installed applications
Exec=jgmenu_run
Terminal=false
Icon=jgmenu
Categories=System
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/jgmenu.desktop
